asgiref
certifi
cffi
charset-normalizer
cryptography
Django
django-allauth
dnspython
gunicorn
idna
packaging
pycparser
PyJWT
pymongo
python-dotenv
requests
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
xxhash