<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getPico.Link : A Zappy URL Shortner</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <h1 class="header-title">getPico.Link</h1>
    </header>
    <main>
        {% load socialaccount %}
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <a href="{% url 'account_logout' %}">Logout</a>
            <div>
                getPico.Link/<input type="text" name="custom-phrase" id="customPhraseTextField" class="input-field" placeholder="Enter custom phrase">
            </div>
        {% else %}
            <p>Please sign in to create custom short URLs.</p>
            <a href="{% provider_login_url 'google' %}">Sign In</a>
            
            <div class="relative group">
                getPico.Link/<input type="text" name="custom-phrase" class="input-field border-b-2 border-gray-300 focus:border-blue-500 focus:outline-none" placeholder="Enter custom phrase" disabled>
                <span class="absolute left-0 bottom-full mb-2 w-24 text-center text-xs text-white bg-black rounded py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300">Sign In</span>
            </div>
        {% endif %}

        {% csrf_token %}
        <section class="url-input">
            <h2 class="section-title">Shorten Your URL</h2>
            <input type="text" name="input_url" id="longURLTextField" class="input-field" placeholder="Enter your long URL">
            <button type="submit" id="shorten_btn" class="submit-button">GetShortLink!</button>
        </section>

        <section class="shortened-url">
            <h2 class="section-title">Shortened URL:</h2>
            <p id="short_url_display" class="short-url"></p>
        </section>

        <section id="user-urls">
            <h2>My Pico Links</h2>
            <ul id="urls-list"></ul>
        </section>
    </main>

    <script>
        var isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
    </script>
</body>
</html>
